.workflow-pagination {
  position: relative;
  top: 175px !important;
}

.workflow-model {
  .top-section {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      /* identical to box height, or 140% */

      display: flex;
      align-items: center;

      /* Theme/Primary/P 20 Main */

      color: #2b2b33;
    }
    .attachment-box {
      margin-top: 24px;
      margin-bottom: 52px;
      p {
        // font-family: "Exo 2";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* Text/Light */

        color: #6b6b80;
        margin-bottom: 10px;
      }
      .attachment-checkbox {
        display: flex;
        .span {
          background: #d9d9d9;
          border-radius: 2px;
          min-height: 44px;
          text-align: left;
          // padding-left: 32px;
          max-width: 199px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // font-family: "Exo 2";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */

          display: flex;
          align-items: center;

          /* Text/Default */

          color: #40404d;
        }
      }
    }
  }
  .tabbing-section {
    h3 {
      /* BodyText/Large/Bold - 18 */

      // font-family: "Exo 2";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      /* identical to box height, or 144% */

      display: flex;
      align-items: center;

      /* Text/Headings */

      color: #2b2b33;
    }
    .tabbing {
      .tabbing-list {
        .tabbing-item {
          text-align: left;
          align-items: flex-start;
          background: #d9d9d9;
          border-radius: 2px;
          min-height: 44px;
          text-align: left;
          max-width: 100%;
          margin-bottom: 20px;
          width: 100%;
          text-transform: capitalize;
          font-style: normal;
          font-weight: 400;

          font-size: 16px;
          line-height: 24px;
          color: #6b6b80;
          &.active {
            background: #40404d;
            border-radius: 4px;
            color: white;
            border: 0;
          }
          &:first-of-type {
            margin-top: 20px;
          }
        }
        .MuiTabs-indicator {
          background: none;
        }
      }
    }
  }
}
