.home_cashflow {

    .cashflow_heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        color: #37352F;
        display: flex;
    }

    .cashflow-custom__icon{
        width: 24px;
        height: 24px;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cashflow-custom__style{
        width: 8px;
        height: 8px;
        border-radius: 100px;
    }

    .cashflow__right{
        display: flex;
        gap: 1rem;
    }

    .cashflow__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        color: #666665;
        line-height: 30px;
    }
}