.footer-primary-color {
    color: #4e132c;
  }
  
  .secondary-color {
    color: #65cdf0;
  }
  
  .footer-terms-and-policy:not(:last-child) {
    border-right: 1px solid #4e132c;
  }
  .copyright-div {
    white-space: nowrap;
  }
  .footer-text {
    margin-right: 35px;
    margin-left: 30px;
  }
  
  @media screen and (max-width: 1200px) {
    .care-library-footer {
      z-index: 1100;
    }
  }