.invoice-no_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: flex-end;
    overflow: auto;
}

.invoice-no_container h1 {
    margin-top: 2.2rem;
}
.invoice-no_container p,h4 {
    margin-top: 1rem;
}

.invoice-no_paid {
    background: #D3E7D8;
    color: #48995D;
    margin-left: 10px;
    padding: 8px;
    border-radius: 8px;
}

.invoice-no_mid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.invoice-no_details {
    display: flex;
    justify-content: space-between;
}

.invoice-no_overdue {
    width: 370px;
    border-radius: 8px;     ;
}

.invoice-no_overdues {
    display: flex;
    justify-content: space-between;
}

.overdue_inner {
    margin: 2rem;
}

/* Responsive Styles */
@media screen and (min-width: 600px) {
    .invoice-no_container {
        grid-template-columns: 1.8fr 0.25fr;
    }

    .invoice-no_mid {
        grid-template-columns: 1.8fr 0.2fr;
        gap: 10rem;
    }
}