.model-parent{
 
    
    // background-color: white;
    margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
    padding: 0;
    .model-body{
        max-width: calc(100% - 300px);
        width: 100%;
        max-height: calc(100vh - 10%);
        background-color: white;
        padding: 20px;
    }
}