.header-search-card::-webkit-scrollbar {
  width: 4px;
  background-color: transparent !important;
}
.header-search-card::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #65cdf0 !important;
}